<section class="flex flex-col gap-4 p-4 bg-gray-200 sm:px-11">
  <article
    class="flex flex-col gap-2 px-4 py-2 bg-white rounded-lg md:items-center md:flex-row"
    *ngFor="let userUrl of userUrls; let i = index"
  >
    <p
      class="overflow-hidden font-semibold text-indigo-700 select-all text-ellipsis md:max-w-xs"
    >
      {{ userUrl.url }}
    </p>

    <hr class="block w-full md:hidden" />

    <p
      #shortenedUrlEl
      class="overflow-hidden font-semibold select-all md:ml-auto text-cyan-700 text-ellipsis"
    >
      {{ userUrl.shortLink }}
    </p>

    <button tabindex="-1" (click)="copyToClipboard(shortenedUrlEl, i)">
      <shared-button
        radius="rounded-lg"
        styles="w-full min-w-[105px] {{
          userUrls[i].buttonText !== 'Copy'
            ? 'bg-indigo-200 hover:bg-indigo-300'
            : null
        }}"
        [text]="userUrl.buttonText"
      />
    </button>
  </article>
</section>
