<section class="flex flex-col gap-3 px-4 sm:px-11 md:flex-row-reverse">
  <img
    src="./assets/images/illustration-working.svg"
    width="320"
    height="auto"
    class="mx-auto w-72 max-w-3xl lg:w-96 xl:w-full"
    alt="Programmer using a computer"
  />
  <div class="flex flex-col gap-2 justify-center">
    <h1
      class="font-bold text-4xl md:text-5xl lg:text-6xl 2xl:text-8xl text-center text-indigo-950 max-w-6xl md:text-left"
    >
      More than just shorter links
    </h1>
    <p
      class="text-center text-indigo-600 lg:text-lg 2xl:text-xl max-w-md mx-auto md:mx-0 md:text-left"
    >
      Build your brand's recognition and get detailed insights on how your links
      are performin.
    </p>
    <shared-button
      class="mx-auto mt-2 md:mx-0"
      text="Get Started"
      styles="md:scale-125 md:translate-x-4 md:mb-2"
    />
  </div>
</section>
