<nav class="absolute w-full px-4 -translate-x-1/2 sm:px-11 top-full left-1/2">
  <ul
    class="flex flex-col gap-6 py-4 font-semibold text-center text-white bg-blue-800 rounded-md"
  >
    <shared-navitem textColorHover="hover:text-cyan-300" text="Features" />
    <shared-navitem textColorHover="hover:text-cyan-300" text="Pricing" />
    <shared-navitem textColorHover="hover:text-cyan-300" text="Resources" />
    <hr class="w-11/12 mx-auto bg-gray-700 opacity-50" />
    <li>
      <button class="w-full px-4 py-2 hover:text-cyan-300">Login</button>
    </li>
    <li class="px-4">
      <shared-button text="Sign Up" styles="w-full" />
    </li>
  </ul>
</nav>
