<section class="p-4 mx-auto mt-10 max-w-7xl sm:px-11">
  <form
    class="flex flex-col px-8 py-10 bg-indigo-500 bg-right bg-no-repeat bg-contain rounded-xl sm:flex-row bg-shorten-mobile md:bg-shorten-desktop md:bg-cover sm:items-center"
    [formGroup]="shortenerForm"
    (ngSubmit)="onShortenUrl()"
  >
    <div class="relative w-full mr-4">
      <input
        [ngStyle]="isValidField('url') ? { borderColor: 'red' } : null"
        type="text"
        formControlName="url"
        required
        #urlInputRef
        class="rounded-lg border-2 px-6 py-[6px] w-full placeholder:text-indigo-600 box-border focus:outline-none"
        placeholder="Shorten a link here..."
      />
      <span
        *ngIf="isValidField('url')"
        class="absolute left-0 mt-1 italic font-bold text-red-500 top-full"
        >{{ getFieldError("url") }}</span
      >
    </div>
    <shared-button
      text="Shorten it!"
      radius="rounded-lg w-full mt-10 sm:mt-0"
    />
  </form>
</section>
